
            <div class="row">
    {{#each products}}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{this.image}}" alt="Lorem Ipsum is simpl  y dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
                <div class="caption clearfix">
                    <h3>{{this.title}}</h3>
                    <p>{{this.description}}</p>
                    <span class="pull-left">{{this.price}} $</span>
                    <p> <a href="/cart/add-to-shopping-cart/{{this._id}}" class="btn btn-success pull-right" role="button">add to cart</a></p>
                </div>
            </div>
        </div>
        {{/each}}


            </div>





